{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'hello_world/bootstrap/css/bootstrap.min.css' %}">

    <script src="{% static 'hello_world/bootstrap/js/bootstrap.min.js' %}"></script>
{#    <script src="{% static 'hello_world/test.js' %}"></script>#}

    {% block title %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

</body>
</html>