{% extends 'hello_world/base.html' %}
{% load extras %}
{% load staticfiles %}

{% block title %}
    <title>TER !</title>
{% endblock %}

{% block content %}

    <div class="main ui container">
        <div class="chapter content" id="chapter1">

            <h1 class="chapter header">
                Conclusion générale
            </h1>

            <div class="ui segment raised">
                <p>
                    Rappelons que la problématique était la suivante : "Peut-on prévoir efficacement les dynamiques
                    financières à l'aide des réseaux de neurones artificiels?". Nous avons donc décidé, à la façon de
                    Machiavel <span class="citation">"Divide et impera"</span>, de diviser le problème en sous problème
                    afin de le résoudre de façon plus fluide et pertinente.
                </p>
                <p>
                    Dans la première partie, nous avons appris, suite à l'étude de plusieurs articles financiers, que
                    l'analyse d'un indice boursier était extrêmement complexe. En effet, leur évolution seraient à la
                    fois lié à l'état des finances réelles, mais aussi à la psychologie des investisseurs.
                </p>
                <p>
                    Dans la seconde partie, nous nous sommes appropriés les bases tant théoriques que pratiques des
                    réseaux
                    de neurones artificiels. Après avoir implémenté nos réseaux de neurones, et amélioré ceux-ci à
                    l'aide d'un savoir empirique, nous avons pu comparer les résultats prédits finaux par nos différents réseaux
                    avec les valeurs réelles de l'indice boursier.
                </p>
                <p>
                    De ces résultats, nous avons conclu que notre meilleur réseau était le Feed Forward programmé en
                    python. En effet, pour 3 indices boursiers, les données qu'il a prédites présentent au plus 1% d'écart avec
                    les données réelles. Néanmoins, ce réseau n'est efficace qu'à court terme, se basant sur les 10 derniers
                    jours passés pour prédire le cours de l'indice.
                </p>
                <p>
                    Une des raison qui pourrait expliquer le manque de performance de notre réseau à long terme est le
                    fait qu'il ne se base que sur des variables quantitatives. En effet, nous nous basons uniquement sur des
                    données historiques, qui ne permettent pas à elles seules d'expliquer les variations des indices
                    boursiers.
                    En effet, elles ne se limitent qu'à l'aspect quantitatif de l'indice boursier, sans prendre en
                    compte
                    les multiples variables qualitatives qui l'influencent. Pour améliorer les performances de notre
                    réseau
                    de neurones artificiels, il serait intéressant de lui fournir d'autre données en entrées, capable de
                    modéliser l'état de santé des entreprises (bilan financier, stratégies adoptées) et la psychologique des
                    investisseurs. Les nouvelles impactant fortement la psychologie de ces derniers, il serait surement
                    intéressant de développer un second réseau de neurones, dont le but serait d'analyser les nouvelles
                    liées
                    à un indice, et d'en déterminer l'avis général (positif ou négatif). Les données de ce second réseau
                    seraient envoyées en entrée du premier, permettant ainsi d'avoir un modèle se basant à la fois sur
                    l'état de santé de l'indice et sur la psychologie des investisseurs, améliorant ainsi théoriquement
                    les prédictions du modèle. Cette théorie a été vérifiée par les performances du fond
                    d'investissement
                    Medaillon, qui se base sur la prédiction d'évolution d'indices boursiers, en utilisant des centaines
                    de variables explicatives dans leur modèle, ce qui leur confère le statut de "fond d'investissement
                    le
                    plus performant de l'histoire".
                </p>
            </div>
            <h1 class="chapter header">
                Bibliographie
            </h1>
            <div class="ui segment raised">
            <ol>
                <li>
                    Martin P. Wallace (PhD),<a href="http://www.saycocorporativo.com/saycouk/bij/journal/vol1no1/article_3.pdf"> Neural Networks and their application to finance</a>, 2008
                </li>
                <li>
                    Adam Fadlalla, Chien-Hua Lin, <a href="http://cns-classes.bu.edu/cn710/Fall2007/file_repository/112.pdf"> An analysis of the applications of neural networks in finance</a>, 2001
                </li>
                <li>
                    Philippe Paquet,<a href="http://grorichome.dyndns.org/oldsite/groricorssgoo/web/pdf/1997-1.pdf"> L'utilisation des réseaux de neurones artficiels en finance</a>, 1997
                </li>
                <li>
                    Christian L. Dunis, Jason Laws, Andreas Karathanasopoulos, <a href="https://link-springer-com.docelec.u-bordeaux.fr/book/10.1007/978-1-4614-3773-4">Financial decision making using computational intelligence : Chapter 4 Modelling and Trading the Greek Stock Market with Hybrid ARMA-Neural Network Models </a>, edition Springer, 2012
                </li>
                <li>
                    Jakob Aungiers, <a href="http://www.jakob-aungiers.com/articles/a/LSTM-Neural-Network-for-Time-Series-Prediction"> LSTM neural network for time series prediction</a>, 2016
                </li>
            </ol>
            </div>
            {#            {% for index in divs %}#}
            {#                <div class="ui segment raised">#}
            {#                    <h3 class="header" align="center">{{ index }}</h3>#}
            {#                    {{ divs|key:index|safe }}#}
            {#                </div>#}
            {#            {% endfor %}#}
        </div>
    </div>
    {#    {{ script_bokeh|safe }}#}
{% endblock %}