{% extends 'hello_world/base.html' %}
{% load extras %}
{% load staticfiles %}

{% block title %}
    <title>TER !</title>
{% endblock %}

{% block content %}

    <div class="main ui container">
        <div class="chapter content" id="chapter1">

            <div class="ui pointing secondary abstract menu floating right">
                <div class="right menu">
                    <a class="active blue item" data-tab="english">English</a>
                    <a class="blue item" data-tab="french">French</a>
                </div>
            </div>

            <div class="ui active tab segment" data-tab="english">
                <div>
                    <h3>Abstract : </h3>

                    <p>
                        Many economists and traders agree to say that the financial market is unstable and its
                        variations are random.
                        Moreover, even if such predictions may be possible, it would be too complex to predict them
                        because of the number of variables that should be considered.
                        Yet, some banks or hedge funds have developed algorithms that allow them to predict the
                        financial market
                        variation well enough to get profit out of it.
                        The purpose of this project was to determinate if it was possible to predict the financial
                        market variations using artificial neural networks.
                        To achieve this goal, we used a model of artificial neural network to generate predicted values,
                        which we then compared to real values.
                        We found out that the normalized predicted values were relatively close to the normalized real
                        ones, with some exceptions when real values instantly drop or rise instantly.
                        These results suggest that we can predict at least the direction in which the financial products
                        are going to vary.
                        However, these predictions are not completely reliable and must be considered with caution
                        <br/>
                    </p>
                </div>
            </div>
            <div class="ui tab segment" data-tab="french">
                <div>
                    <h3>Abstract : </h3>

                    <p>
                        Beaucoup d'économistes et de traders s'accordent à dire que le marché financier est instable et
                        que
                        ses
                        variations sont aléatoires.
                        De plus, même en considérant que de telles prédictions soient possible, il serait trop complexe
                        de
                        les
                        prédire à cause du nombre de variables devant être pris en compte.
                        Pourtant, certaines banques ou fonds d'investissement ont développé des algorithmes leur
                        permettant
                        de
                        prédire les variations
                        du marché financier de façon assez satisfaisante pour en tirer profit.
                        Le but de ce projet était de déterminer s'il était possible de prédire l'évolution du marché
                        financier
                        en
                        utilisant des réseaux de neurones artificiels.
                        Pour arriver à achever les objectifs, nous avons utilisé un modèle de réseau de neurones
                        artificiels
                        pour
                        générer des valeurs prédites,
                        que nous avons ensuite comparé aux valeurs réelles.
                        Nous avons trouvé que les valeurs prédites normalisées étaient relativement proche des valeurs
                        normalisées
                        réelles,
                        avec quelques exceptions quand les valeurs réelles augmentées ou diminuées instantanément.
                        Ces résultats suggèrent que nous pouvons prédire au moins la direction vers laquelle les
                        produits financiers vont varier.
                        Cependant, ces prédictions ne sont pas complètement fiables et doivent être prise en
                        considération avec prudence.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}