.chapter.segment {
    left: 10%;
    width: 80%;
}

.chapter.content {
    margin-left: 1em;
}

.ui.header.segment {
    margin-top: 1em;
    margin-left: -1em;
}

body {
    background-color: #FFFFFF;
}

.masthead .segment {
    min-height: 700px;
    padding: 1em 0em;
    margin-bottom: 1em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 4em;
    font-weight: normal;
}

.main.ui.container {
    margin-top: 3em;
}

.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

h5{
    font-family: Impact;
    color: indigo;
    font-weight: normal;
    font-size: x-large;
}

h4{
    font-family:Impact;
    color: white;
    font-weight: normal;
    font-size:xx-large;
}